h1 {
  color: lightcoral;
  text-align: center;
  font-weight: bolder
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
}